<!-- views/dashboard.ejs -->

<%- include('partials/header.ejs') %>

<% if (user && user.role) { %>
    <% if (user.role.id === 3) { %> <!-- Admin role -->
        <%- include('sections/admin', { contexts, userCount, contextCount, approvedCount, rejectedCount, rawCount, reviewedCount, statuses, users, roles, page, totalPages }) %>
    <% } else if (user.role.id === 2) { %> <!-- Reviewer role -->
        <%- include('sections/reviewer') %>
    <% } else if (user.role.id === 1) { %> <!-- User role -->
        <%- include('sections/user', { approvedCount, reviewedCount, rejectedCount }) %>
    <% } else if (user.role.id === 4) { %> <!-- Inactive role -->
        <div class="alert alert-info">
            <strong>Info!</strong> Your account is inactive. Please contact support.
        </div>
    <% } else { %>
        <!-- Fallback if the role is not recognized -->
        <div class="alert alert-warning">
            <strong>Warning!</strong> Your role is not recognized, please contact support.
        </div>
    <% } %>
<% } else { %>
    <!-- Fallback if the user or role is not defined -->
    <div class="alert alert-danger">
        <strong>Error!</strong> User role is not available. Please log in again.
    </div>
<% } %>

<%- include('partials/footer.ejs') %>